/*
    Name: Jose Alba
    Date Created: 01/12/2020 
    Most recent revision: 01/012/2020
*/
header, footer {
	background-color: red;
	color: white;
	font-weight: bold;
}

h1, footer {
	text-align: center;
}

nav {
	border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav .btn {
	background-color: red;
	color: white;
	
}

nav .btn:hover {
	font-weight: bold;
}
nav .btn:visited {
	color: blue;
}