/*
    Name: Jose Alba
    Date Created: 01/12/2020 
    Most recent revision: 01/12/2020
*/
header, footer {
	background-color: red;
	color: white;
	font-weight: bold;
}

.jumbotron {
	background-color: #ffBA08;
}

.restName {
	background-color: #136F63;
}
h1 {
	font-family: fantasy, critter, arial;
}
h1, footer {
	text-align: center;
}

/* css for menu.html */
h4 {
	font-weight: bold;
}

section {
	text-align: center;
}

#bgc {
	background-color: #ffBA08;
}

table {
	height: 200px;
}

thead {
	text-align: center;
}

tbody tr:nth-child(odd){
	background-color: #136F63;
	color: white;
}

tbody tr:nth-child(even){
	background-color: red;
	color: white;
}

/**/

nav {
	border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
	background-color: #136F63;
}


nav .btn {
	background-color: red;
	color: white;
	
}

nav .btn:visited {
	color: #032B43;
}

nav .btn:hover {
	font-weight: bold;
}

/*form css*/
label {
	font-size: 1.1em;
}

#req1, #req2, #req3 {
	font-weight: bold;
}

input[type=text] {
	border: 2px solid red;
	width: 50%;
	padding: 8px 8px;
	margin: 12px 0px;
	box-sizing: border-box;
	font-size: 1.1em;
}

select, textarea {
	margin: 12px 0px;
	font-size: 1em;
}

input[type=submit] {
	font-size: 1em;
	background-color: red;
	color: white;
	padding: 4px 8px;
	margin-bottom: 12px;
}
input[type=submit]:hover {
	background-color: white;
	color: red;
}

textarea {
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 3px;
    resize: none;
	vertical-align: middle;
}
/**/